@media (max-width: 5000px)
	.tags-cloud-if, .hidden-name
		display: none


@media (max-width: 2560px)
	.section-about, .skill-section, .section-expirience, .projects-section, .section-single-project, .section-contact, .post-place, .all-blog-posts
		margin-left: -100px
		margin-top: 100px
	.section-single-tag
		margin-left: -100px
		margin-top: 0px
	.text-left
		font-weight: lighter
		font-size: 25px
	.lighter
		font-weight: lighter
		font-size: 25px
	.tags-cloud-if, .hidden-name
		display: none
	.post-img
		object-fit: cover
	.tag-ball
		margin-top: 50px
	.wrap
		margin-top: 300px !important
	// .btn-category
	// 	font-size: 30px
	.container-big
		width: 1000px !important
	.cell-big
		width: 225px !important
		height: 225px !important
		font-size: 20px !important
	.container-small
		width: 1000px !important
	.cell-small
		width: 125px !important
		height: 125px !important
		font-size: 14px !important

@media (max-width: 1920px)
	.section-about, .skill-section, .section-expirience, .projects-section, .section-single-project, .section-contact, .post-place, .all-blog-posts, .section-single-tag, .section-contact
		margin-left: 0px !important
		margin-top: 0px
	.lighter
		font-weight: lighter !important
		font-size: 15px
	.text-left
		font-weight: lighter
		font-size: 15px
	.rotatable
		font-size: 500px
		margin-top: -350px
	.tags-cloud-if, .hidden-name
		display: none
	.wrap
		margin-top: 200px !important
	.container-big
		width: 800px !important
	.cell-big
		width: 200px !important
		height: 200px !important
		font-size: 16px !important
	.container-small
		width: 800px !important
	.cell-small
		width: 100px !important
		height: 100px !important
		font-size: 12px !important

@media (max-width: 990px)
	.third-post
		display: none
	.tags-cloud-if
		display: none
	.hidden-name
		visibility: visible
		display: inline
	.container-big
		width: 700px !important
		margin-left: 200px !important
	.cell-big
		width: 175px !important
		height: 175px !important
		font-size: 15px !important
	.container-small
		width: 425px !important
		margin-left: 200px !important
	.cell-small
		width: 75px !important
		height: 75px !important
		font-size: 11px !important

@media (max-width: 900px)
	.rotatable
		font-size: 350px
		margin-top: -350px
	.img-container
		height: 250px !important
	.tags-cloud-if
		display: none
	.hidden-name
		visibility: visible
		display: inline


@media (max-width: 800px)
	.header-platform-left
		z-index: 10001
	.home-page
		margin-left: 100px
		.rotatable
			font-size: 350px
			margin-top: -300px
	.center-content
		margin-top: 5px
	.tags-cloud-if
		display: none
	.hidden-name
		visibility: visible
		display: inline


@media (max-width: 766px)
	.section-about
		margin-left: 100px
		.stack
			margin-top: 0px
	.section-expirience
		margin-left: 100px
	.section-contact
		margin-left: 100px
	.post-place
		margin-left: 100px
	.first-post
		margin-bottom: 15px
	.large-main-post
		margin-top: 20px !important
	.content-block
		margin-left: -15px
	.single-post
		margin-left: 100px
	.all-blog-posts
		margin-left: 100px
	.skill-section
		margin-left: 100px
	.projects-section
		margin-left: 100px
	.section-single-project
		margin-left: 100px
	.section-single-tag
		margin-left: 100px
	.tags-cloud-if
		display: none
	.hidden-name
		visibility: visible
		display: inline
	.container-big
		width: 700px !important
		margin-left: 100px !important
	.cell-big
		width: 150px !important
		height: 150px !important
		font-size: 14px !important
	.container-small
		width: 500px !important
		margin-left: 100px !important
	.cell-small
		width: 75px !important
		height: 75px !important
		font-size: 11px !important

@media (max-width: 700px)
	.rotatable
		display: none
	.tags-cloud-if
		display: none
	.hidden-name
		visibility: visible
		display: inline


@media (max-width: 600px)
	.img-container
		height: 200px !important
	.post-img
		height: 250px !important
	.block-post-header
		margin-top: 0px
	.block-social-header
		margin-top: 15px
	.tags-cloud-if
		display: none
	.hidden-name
		visibility: visible
		display: inline


@media (max-width: 450px)
	.section-about, .skill-section, .projects-section, .section-single-project, .section-single-tag, .post-place, .all-blog-posts
		margin-left: 70px !important
		margin-right: 5px !important
		display: block !important
		width: 90% !important
	.stack
		margin-top: 0px
		margin-left: 15px
	.section-expirience
		margin-left: 70px !important
	.section-contact
		margin-left: 70px !important
	.img-container
		height: 175px !important
	.tag-ball
		display: none
	.tags-cloud-if
		visibility: visible
		display: inline
		margin-left: -10px
	.exp-graph
		display: none
	.projects-column
		margin-left: 15px
	.hidden-name
		visibility: visible
		display: inline
	.posts-margin-top
		margin-bottom: -75px !important
	.hidden-name
		visibility: visible
		display: inline
	.container-big
		width: 300px !important
		margin-left: -10px !important
	.cell-big
		width: 75px !important
		height: 75px !important
		font-size: 11px !important
	.container-small
		width: 300px !important
		margin-left: -10px !important



@media (max-width: 400px)
	.blog-text-preview
		margin-left: -30px
	.img-container
		height: 160px !important
	.post-img
		height: 180px !important
	.contact-title, .main-title, .expirience-title, .skill-title 
		font-size: 35px
		letter-spacing: 0px
		margin-right: 0px
		padding-right: 0px
	.hidden-name
		visibility: visible
		display: inline


@media (max-width: 375px)
	.map-section
		margin-left: 20px !important
	.img-container
		height: 150px !important
	.post-img
		height: 175px !important
	.hidden-name
		visibility: visible
		display: inline


@media (max-width: 300px)
	.stack
		display: none
	.exp-graph
		display: none
	.post-img
		height: 150px !important
	.hidden-name
		visibility: visible
		display: inline