* 
	margin: 0
	padding: 0
html,
body,

a
	text-decoration: none
	color: #000
	&:hover
		text-decoration: none
		color: #000
i
	color: #5a5a5a
	&:hover
		color: #07fdd8
		// transition: all .1s
button
	outline: 0 !important

.contact-input, textarea
	background-color: #37393b !important
	border: none
	border-radius: 0px !important
	outline: none !important
	outline-offset: 0
	box-shadow: none
	font-weight: lighter !important
	color:#fff
	&:focus
		outline: none !important
		outline-offset: 0
		box-shadow: none
		border-bottom: 2px solid #07fdd8
		color:#fff
		&:after
			content: ''
			display: block
			width: 100%
			height: 2px
			background-color:#07fdd8
			transform: scale(1)
			color:#fff

#contact_name, #contact_email, #contact_subject
	height: 50px !important
				



.contact-me
	background-color: #252628
	color: #07fdd8
	border: 1px solid #07fdd8
	border-radius: 5px
	font-weight: lighter
	font-size: 12px
	letter-spacing: 5px
	&:hover
		color: #252628 !important
		background-color: #07fdd8
.main-text-font
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif
.text-grey
	color: #BDBDBD !important
	.post
		&:hover
			&:after
				content: ''
				display: block
				width: 100%
				height: 1px
				background-color:#07fdd8
				transform: scale(1)
		// background-color: #fff
.fullstack-text
	letter-spacing: 5px
.lighter
	font-weight: lighter
	font-size: 15px
.category-button
	background-color: #252628
	color: #8d8d8d
	border: none
.body-platform
	background-color: #252628
.hover-link
	&:hover
		opacity: 0.5
.leftimg
	float: left
.br-50
	border-radius:  50%
.wrapper 
	height: 100%
.content 
	box-sizing: border-box
	padding-bottom: 90px
.projects
	font-size: 10px
	color: #07fdd8
	transition: all .5s

.fa 
	color: #5a5a5a
	&:hover
		color: #07fdd8
.projects-text
.header-platform
	background-color: #000
	// background-image:  url('/images/workplace.jpg')
	height: 400px
.header-platform-left
	background-color: #181818
	// background-image:  url('/images/workplace.jpg')
	height: 100%
	position: fixed
	width: 70px
.block-name
	height: 80px
	width: 70px
	background-color:#000 !important
	// background: url('../../../../public/images/R.png') no-repeat center center fixed
	// background-size: cover
.center-content
	width: 75px
	margin-top: 150px
.bottom-content
	position: absolute
	bottom:0
	width: 75px

.link
	margin-bottom: 30px
	&:hover
		margin-bottom: -1px



.platform-header-menu
	height: 300px
.platform-header-categories
	height: 100px
.categories-tabs 
	text-align: left
	width: 100%
	margin-top: -40px
	max-width: 100%
	letter-spacing: 1px
	left: 0
	top: 0
	font-size: .35em
	position: relative
	font-family: Montserrat,serif
	color: #fff
	p
		text-align: left
		font-size: 10px
		letter-spacing: 1px
		line-height: 1.4
		font-family: Montserrat,sans-serif
		color: #fff
	a
	&:after
		content: ''
		display: block
		width: 100%
		height: 1px
		background-color:#fff
		transform: scale(0)
		transition: all .3s


.post
	&:after
		content: ''
		display: block
		width: 100%
		height: 1px
		background-color:#000
		transform: scale(0)
		transition: all .3s
.post
	&:hover
		&:after
			content: ''
			display: block
			width: 100%
			height: 1px
			background-color:#000
			transform: scale(1)

.img-container
	height: 300px !important 
	text-align: -webkit-center
.img-container img
	width: 100%


.project-hover
	&:after
		content: ''
		display: block
		width: 100%
		height: 1px
		background-color:#000
		transform: scale(0)
		transition: all .3s
.project-hover
	&:hover
		&:after
			content: ''
			display: block
			width: 100%
			height: 1px
			background-color:#07fdd8
			transform: scale(1)

.category-text
	font-family: Montserrat,italic

// .content-block
// 	img
// 		&:hover
// 			opacity: 0.5

.categories-tabs 
	text-align: left
	width: 100%
	margin-top: -40px
	max-width: 100%
	letter-spacing: 1px
	left: 0
	top: 0
	font-size: .35em
	position: relative
	font-family: Montserrat,serif
	color: #fff
	p
		text-align: left
		font-size: 10px
		letter-spacing: 1px
		line-height: 1.4
		font-family: Montserrat,sans-serif
		color: #fff
	a
	&:hover
		&:after
			content: ''
			display: block
			width: 100%
			height: 1px
			background-color:#fff
			transform: scale(1)

.category-tab
	border:1px solid #d0d0d0
.block-category
	border-right:1px solid #d0d0d0
.block-button
	height: 200px
	margin-top: 45px
	background-color:#000
	padding-top: 50px
	&:hover
		opacity: 0.5
		background-color:#000
.linkSummary
	text-align: left
	width: 100%
	margin-top: -40px
	max-width: 100%
	letter-spacing: 1px
	left: 0
	top: 0
	font-size: .35em
	position: relative
	font-family: Montserrat,serif
	color: #fff
	p
		text-align: left
		font-size: 10px
		letter-spacing: 1px
		line-height: 1.4
		font-family: Montserrat,sans-serif
		color: #fff
.home-text
	font-family: Montserrat,sans-serif
	letter-spacing: 2px!important
	text-transform: uppercase
span
	.number
		font-family: Montserrat,sans-serif
		// letter-spacing: 2px!important
		text-transform: uppercase
.footer-platform
	background-color: rgba(26,26,26,0.6)
	height: 300px

li 
	list-style-type: none
.error-msg
	color: $dark-red
.close-modal
	position: absolute
	top: 30px
	right: 30px
	font-size: 1.4em

.project-skill
	width: 50%
	height: 50%
	object-fit: cover
.block-skills
	position: absolute
	top: 20%

.stack
	margin-top: 200px
.exp-tags
	color: #07fdd8
.border-exp
	border: 2px solid red
.tag-ul
	color: #fff !important
.tag-link
	&:hover
		border-left: 3px solid #07fdd8

.home-page
	min-height: 100%
// .open-body
// 	margin-bottom: 50px
// .body-content
// 	margin-bottom: 50px
// .close-body
// 	margin-top: 300px
	// 	margin-top: auto
	// 	margin-bottom: 5px
// 	margin-bottom: 50px

.contact-title, .main-title, .expirience-title, .skill-title 
	font-size: 60px
	letter-spacing: 0px
.expirience-doctype
	margin-left: -29px
