* 
	margin: 0
	padding: 0
html,
body,

a
	text-decoration: none
	color: #000
	&:hover
		text-decoration: none
		color: #000
i
	color: #5a5a5a
	&:hover
		color: #07fdd8
		// transition: all .1s
	

	// background-color: #fff
.body-platform
	background-color: #252628
.hover-link
	&:hover
		opacity: 0.5
.leftimg
	float: left
.br-50
	border-radius:  50%
.wrapper 
	height: 100%
.content 
	box-sizing: border-box
	padding-bottom: 90px
.projects
	font-size: 10px
	color: #07fdd8
	transition: all .5s
.fa 
	color: #5a5a5a
	&:hover
		color: #07fdd8
.projects-text
.header-platform
	background-color: #000
	// background-image:  url('/images/workplace.jpg')
	height: 400px
.header-platform-left
	background-color: #181818
	// background-image:  url('/images/workplace.jpg')
	height: 100%
	position: fixed
.block-name
	height: 150px
	background-color:#000 !important
.center-content
	width: 75px
.bottom-content
	position: absolute
	bottom:0
	width: 75px
.link
	margin-bottom: 30px
	&:hover
		margin-bottom: -1px



.platform-header-menu
	height: 300px
.platform-header-categories
	height: 100px
.categories-tabs 
	text-align: left
	width: 100%
	margin-top: -40px
	max-width: 100%
	letter-spacing: 1px
	left: 0
	top: 0
	font-size: .35em
	position: relative
	font-family: Montserrat,serif
	color: #fff
	p
		text-align: left
		font-size: 10px
		letter-spacing: 1px
		line-height: 1.4
		font-family: Montserrat,sans-serif
		color: #fff
	a
	&:after
		content: ''
		display: block
		width: 100%
		height: 1px
		background-color:#fff
		transform: scale(0)
		transition: all .3s


.post
	&:after
		content: ''
		display: block
		width: 100%
		height: 1px
		background-color:#000
		transform: scale(0)
		transition: all .3s
.post
	&:hover
		&:after
			content: ''
			display: block
			width: 100%
			height: 1px
			background-color:#000
			transform: scale(1)


.category-text
	font-family: Montserrat,italic

// .content-block
// 	img
// 		&:hover
// 			opacity: 0.5

.categories-tabs 
	text-align: left
	width: 100%
	margin-top: -40px
	max-width: 100%
	letter-spacing: 1px
	left: 0
	top: 0
	font-size: .35em
	position: relative
	font-family: Montserrat,serif
	color: #fff
	p
		text-align: left
		font-size: 10px
		letter-spacing: 1px
		line-height: 1.4
		font-family: Montserrat,sans-serif
		color: #fff
	a
	&:hover
		&:after
			content: ''
			display: block
			width: 100%
			height: 1px
			background-color:#fff
			transform: scale(1)

.category-tab
	border:1px solid #d0d0d0
.block-category
	border-right:1px solid #d0d0d0
.block-button
	height: 200px
	margin-top: 45px
	background-color:#000
	padding-top: 50px
	&:hover
		opacity: 0.5
		background-color:#000
.linkSummary
	text-align: left
	width: 100%
	margin-top: -40px
	max-width: 100%
	letter-spacing: 1px
	left: 0
	top: 0
	font-size: .35em
	position: relative
	font-family: Montserrat,serif
	color: #fff
	p
		text-align: left
		font-size: 10px
		letter-spacing: 1px
		line-height: 1.4
		font-family: Montserrat,sans-serif
		color: #fff
.home-text
	font-family: Montserrat,sans-serif
	letter-spacing: 2px!important
	text-transform: uppercase
span
	.number
		font-family: Montserrat,sans-serif
		// letter-spacing: 2px!important
		text-transform: uppercase
.footer-platform
	background-color: rgba(26,26,26,0.6)
	height: 300px

li 
	list-style-type: none
.error-msg
	color: $dark-red
.close-modal
	position: absolute
	top: 30px
	right: 30px
	font-size: 1.4em

.project-skill
	width: 50%
	height: 50%
	object-fit: cover
.block-skills
	position: absolute
	top: 20%