* 
	margin: 0
	padding: 0
html,
body,

   

.wrapper 
	height: 100%
.content 
	box-sizing: border-box
	padding-bottom: 90px

.header-platform
	background-color: #000
	height: 400px

.footer-platform
	background-color: rgba(26,26,26,0.6)
	height: 300px

li 
	list-style-type: none
.error-msg
	color: $dark-red
.close-modal
	position: absolute
	top: 30px
	right: 30px
	font-size: 1.4em